@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
	outline: none;
}

body {
  background-color: #121212;
}

img {
  width: 300px;
  height: 300px;
}

h1,
h2,
h3,
h4,
h5,
a,
textarea,
pre,
input,
select {
  color: rgb(241, 241, 241);
  font-family: 'Inter', sans-serif;
}
